@import "./variables";
@import "./media";

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
    position: absolute;
    bottom: -18px;
    left: 0;
    margin: 0;
}

.MuiFormLabel-filled {
    color: $colorPrimary !important;
}

.MuiFormLabel-filled + .MuiOutlinedInput-root {
    background: #fcfcfb !important;

    fieldset {
        border-color: $colorPrimary !important;
        border-width: 2px !important;
    }
}

.MuiOutlinedInput-root:hover {
    fieldset {
        border-color: $colorPrimary !important;
        border-width: 2px !important;
    }
}

.MuiCheckbox-root {
    padding: 0 9px !important;
}

.MuiPickersBasePicker-container .MuiPickersSlideTransition-transitionContainer > * {
    text-transform: capitalize;
}

.MuiFormHelperText-root {
    margin: 0 !important;
    color: $colorDangerous !important;
}

.MuiFormControl-root {
    .Mui-error {
        fieldset {
            border-color: $colorDangerous !important;
            border-width: 2px !important;
        }

        @include desktop {
            &:hover {
                fieldset {
                    border-color: $colorDangerous !important;
                    border-width: 2px !important;
                }
            }
        }
    }
}

.MuiFormLabel-root.Mui-error {
    color: $colorDangerous !important;
}

@include only-mobile {
    .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
        max-width: calc(100% - 30px) !important;
        width: calc(100% - 30px) !important;
        margin: 32px 15px !important;
    }
}

.MuiAvatar-root.MuiAvatar-circle.MuiAvatarGroup-avatar.MuiAvatar-colorDefault {
    font-size: 12px !important;
}
