

.sectionText {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
    @include mobile {
        margin-bottom: 14px;
    }

    &.sectionTextSmall {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.05px;
    }

    &.textGreen {
        color: #00BD1E;
    }

    &.sectionTextWith {
        display: flex;
        align-items: center;
    }

    .sectionTextLogo {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    .sectionTextContent {
        position: relative;
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: $colorText;
        margin-right: 20px;

        &.sectionTextPhone:not(:last-child) {
            margin-right: 10px;

            &:after {
                position: absolute;
                right: -4px;
                top: 0;
                display: block;
                content: ', ';
            }
        }

        &.sectionTextPhone:last-of-type {
            margin-right: 20px;

            &:after {
                display: none;
            }
        }
    }

    a.sectionTextContent {
        @extend %link-shared;
    }

    i {
        color: $colorPrimary;
        font-size: 22px;
        cursor: pointer;
        @extend %link-shared;
    }
}

