$colorPrimary: #29B6F6;
$colorPrimaryDarken: #2196F3;
$colorSecondary: #F37C22;
$colorDangerous: #E91212;
$colorBlue: #2A477D;
$colorButtonWhite: #FAFAFA;

$colorPrimaryLighten: #5CCCFF;
$colorPrimaryDarken: #0C83B9;

$colorSecondaryLighten: #FF9849;
$colorSecondaryDarken: #C05A0C;

$colorDangerousLighten: #F54646;
$colorDangerousDarken: #BD0B0B;

$colorBlueLighten: #4F699A;
$colorBlueDarken: #122B59;

$colorText: #263238;
$colorMuted: #546E7A;
$colorWhite: #FFFFFF;
$colorBg: #F4F6F8;
$colorBorder: #EEEEEE;
$colorGrayIcons: #A0ABB0;
$colorGray: #546E7A;
$colorGray2: #A0ABB0;
$colorGray3: #CFD8DC;
$colorGray5:#F4F6F8;





