@import "../../../assets/scss/variables";
@import "../../../assets/scss/media";
@import "../../../assets/scss/infographic";

.member {
    display: flex;
    background: $colorWhite;
    padding: 20px 27px;
    min-height: 170px;
    overflow: hidden;
    color: $colorText;
    .memberMain {
        display: flex;
        width: 100%;
        margin-right: 15px;
        .memberMainData {
            width: 100%;
        }
        .avatar {
            width: 130px;
            min-width: 130px;
            height: 130px;
            margin-right: 28px;
            font-size: 32px;
        }
        .name {
            font-size: 16px;
            line-height: 19px;
        }
        .position {
            font-size: 14px;
            line-height: 16px;
            color: $colorGray2;
            margin: 3px 0 17px;
        }
        .employmentList {
            display: flex;
            margin: 10px -10px 5px;
            &.employmentListBig {
                flex-wrap: wrap;
            }
            .employmentListItem {
                width: calc(30% - 20px);
                margin: 0 10px 10px;
                padding-left: 14px;
            }
            li {
                span {
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration-line: underline;
                    color: $colorPrimary;

                }
            }
        }
    }
    .memberContacts {
        max-width: 385px;
        min-width: 385px;
        margin-left: auto;
        border-left: 1px solid #E6E6E6;
        padding-left: 39px;

    }

    @include mobile {
        padding: 20px 15px;
        .memberMain {
            margin-right: 0;
            .employmentList {
                .employmentListItem {
                    width: calc(48% - 20px);
                }
            }
            .avatar {
                width: 90px;
                min-width: 90px;
                height: 90px;
                margin-right: 20px;
                font-size: 28px;
            }

        }
        .memberContacts {
            max-width: 300px;
            min-width: 300px;
            margin-left: auto;
            border-left: 1px solid #E6E6E6;
            padding-left: 25px;
            .phones {
                flex-wrap: wrap;
            }
        }
    }
    @include only-mobile {
        flex-wrap: wrap;
        .memberMain {
            flex-wrap: wrap;
            justify-content: center;
            margin-right: 0;
            .memberMainData {
                padding: 15px;
                .name, .position {
                    text-align: center;
                }
            }
            .employmentList {
                flex-wrap: wrap;
                .employmentListItem {
                    width: calc(100% - 20px);
                }
            }
        }
        .memberContacts {
            max-width: 100%;
            min-width: auto;
            width: 100%;
            margin-left: 0;
            border-top: 1px solid #E6E6E6;
            border-left: 0;
            padding: 15px;

        }
    }
}
.member + .member {
    margin-top: 19px;
}
