@import "../../../assets/scss/variables";
@import "../../../assets/scss/media";
@import "../../../assets/scss/infographic";

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    a {
        display: inline-block;
        @extend %link-shared;
        img {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0 7px 10px;
        }
    }
}
