@import "../../../assets/scss/variables";
@import "../../../assets/scss/media";
@import "../../../assets/scss/infographic";

.teamItem {
    display: flex;
    align-items: center;
    background: $colorWhite;
    padding: 17px 28px;
    height: 92px;
    color: $colorText;
    text-decoration: none;
    .info {
        .name {
            font-size: 16px;
            line-height: 19px;
        }
        .role {
            font-size: 14px;
            line-height: 16px;
            color: $colorGray2;
            margin-top: 12px;
        }
    }
    .team {
        margin-left: auto;
        display: flex;
        align-items: center;
        .position {
            font-size: 10px;
            line-height: 12px;
            color: $colorGray2;
            margin-bottom: 7px;
        }
        .teamInfo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $colorText;
            @extend %link-shared;
            .name {
                display: inline-block;
                margin-left: 6px;
                max-width: 80px;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .item {
            width: 150px;
        }
        .item + .item {
            margin-left: 60px;
        }
        .memberItem {
            width: 238px;
            @include mobile {
                width: 170px;
            }
        }
    }

    @include only-mobile {
        flex-wrap: wrap;
        height: auto;
        padding: 17px 15px;
        .info {
            width: 100%;
            margin-bottom: 10px;
            .role {
                margin-top: 4px;
            }
        }
        .team {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: 0;
            .teamInfo {
                width: 100%;
            }
            .item {
                width: 100%;
            }
            .item + .item {
                margin-left: 0;
                margin-top: 12px;
            }
            .memberItem {
                width: 100%;
            }
            .image:first-child {
                margin-left: 0;
            }
        }
    }
}
.teamItem + .teamItem {
    margin-top: 8px;
}
