@import "../../../assets/scss/variables";
@import "../../../assets/scss/media";
@import "../../../assets/scss/infographic";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    padding: 0 16px;
    z-index: 99;
    @include mobile {
        padding: 6px !important;
    }

    .logo {
        display: block;
        width: 185px;
        height: auto;
        @include mobile {
            width: 106px;
        }
    }

    .logoText {
        margin: 0 29px 0 17px;
        max-width: 95px;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
        color: rgba(166, 166, 166, 0.87);
        @include mobile {
            display: none;
        }
    }

    .navbarContent {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav {
        display: flex;
        align-items: center;
        height: 100%;
        @include mobile {
            display: none;
        }
    }

    .link {
        position: relative;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.444444px;
        color: $colorText;
        transition: 0.1s ease;
        height: 100%;
        display: flex;
        align-items: center;
        @extend %link-shared;
    }

    .link + .link {
        margin-left: 19px;
    }

    .activeLink {
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            content: '';
            width: 100%;
            height: 5px;
            background: $colorPrimaryDarken;
        }
    }

    .searchInput {
        margin-left: auto;
        max-width: 212px;
        @include desktop {
            .closeIcon {
                font-size: 30px;
                color: $colorGray2;
                display: none;
            }
        }
        @include mobile {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 64px;
            max-width: 100%;
            background: $colorWhite;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            z-index: 100;
            opacity: 0;
            transform: translateY(-100%);
            transition: 0.2s ease;
            padding: 0 15px;
            &.searchInputShow {
                transform: translateY(0);
                opacity: 1;

                & > div {
                    width: 100%;
                }
            }
        }
    }

    .searchIcon {
        margin-left: auto;
        padding: 6px !important;
        @include desktop {
            display: none;
        }
    }

}

.searchTitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.0428571px;
    color: #000000;
    margin: 13px 0;

    &:first-child {
        margin-top: 0;
    }
}

.searchWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .searchItem {
        width: 100%;
        display: flex;
        align-items: center;
        @extend %link-shared;

        .avatar {
            width: 20px;
            height: 20px;
            margin-right: 9px;
            font-size: 11px;
        }

        .name {
            font-size: 12px;
            line-height: 14px;
            color: $colorGray2;
        }
    }

    .searchItem + .searchItem {
        margin-top: 13px;
    }

    &.searchWrapDouble {
        .searchItem {
            width: 48%;
            margin-bottom: 12px;
            @include mobile {
                width: 100%;
            }
        }

        .searchItem + .searchItem {
            margin-top: 0;
        }
    }
}

.popper {
    margin-top: 20px;
    z-index: 200;
    @include mobile {
        margin-top: 0;
        overflow: auto;
        padding: 64px 0 10px;
        position: fixed !important;
        top: 0;
        left: 0;
        height: 100vh;
    }

    .popperContent {
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        width: 492px;
        padding: 17px 25px;
        @include mobile {
            padding: 17px 17px 25px;
            width: auto;
            border: 1px solid $colorGray2;
            margin-left: 10px;
        }
    }
}

.profileAvatar {
    cursor: pointer;
}

.profileList {
    display: flex;
    flex-direction: column;
    padding: 16px 18px;

    .smallLink {
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: $colorText;
        cursor: pointer;
        @extend %link-shared;
    }

    .smallLink + .smallLink {
        margin-top: 15px;
    }
}

.notificationIcon {
    margin: 0 23px !important;
    @include mobile {
        padding: 6px !important;
        margin: 0 15px 0 0 !important;
    }
}

.notificationList {
    width: 330px;
    overflow: hidden;
    @include mobile {
        width: 290px;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        background: $colorButtonWhite;
        border-radius: 4px 4px 0 0;
        padding: 0 16px;

        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.05px;
            color: $colorText;
        }

        .count {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.0428571px;
            color: $colorGray;
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        background: $colorButtonWhite;
        border-radius: 0px 0px 4px 4px;
        cursor: pointer;
        transition: 0.2s ease;
        padding: 0 16px;
        @extend %link-shared;

        a {
            font-weight: 500;
            font-size: 13px;
            line-height: 22px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: $colorText;
        }
    }

    .item {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 64px;
        cursor: pointer;
        transition: 0.2s ease;
        @extend %link-shared;

        .image {
            margin-right: 16px;
        }

        .type {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.05px;
            color: $colorText;
        }

        .time {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.0428571px;
            color: $colorMuted;

        }

        .openAbsence {
            margin-left: auto;
            color: $colorMuted;
            font-size: 24px;
            margin-top: 4px;
        }
    }
}

.navbarMobileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    opacity: 0;

    &.navbarOpen {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbarMobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 247px;
    height: 100%;
    background: $colorWhite;
    z-index: 101;
    transition: 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;

    &.navbarOpen {
        transform: translateX(0);
        opacity: 1;
    }

    .head {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 6px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 22px;

        .link {
            height: auto;
            font-size: 16px;
            line-height: 28px;
            color: $colorText;
            letter-spacing: 0.444444px;
            margin-left: 0;
        }

        .link + .link {
            margin-top: 12px;
            margin-left: 0;
        }
    }
}
